---
:concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY") { 5 } %>
:queues:
  - default
  - mailers
  - notifications
  - low

:scheduler:
  :schedule:
    send_onboarding_emails:
      cron: '0 9 * * *'
      class: SendOnboardingEmailsJob
      queue: default
      description: "Send onboarding email sequence to new users"
