<h1>Reset your password</h1>

<p>Hello <%= @resource.name.presence || @resource.email %>,</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="text-align: center;">
  <a href="<%= @reset_password_url %>" class="button">Change my password</a>
</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>This link will expire in 6 hours.</p>
