<h1>Good evening, <%= @user.name %>!</h1>

<p>It's time for your evening reflection. Taking a few moments to reflect on your day helps you learn and grow.</p>

<p><strong>Reflect on:</strong></p>
<ul>
  <li>What went well today?</li>
  <li>What was challenging?</li>
  <li>What are you grateful for?</li>
  <li>What will you do differently tomorrow?</li>
</ul>

<p style="text-align: center;">
  <a href="<%= @app_url %>" class="button">Start Reflection</a>
</p>

<p>Rest well and recharge for tomorrow!</p>
