<h1>Time for your weekly review, <%= @user.name %>!</h1>

<p>Congratulations on completing another week! Taking time to review your progress helps you celebrate wins and plan for even better weeks ahead.</p>

<p><strong>In your weekly review:</strong></p>
<ul>
  <li>Review your metrics and accomplishments</li>
  <li>Celebrate your wins - big and small!</li>
  <li>Acknowledge challenges and lessons learned</li>
  <li>Set priorities for the week ahead</li>
</ul>

<p style="text-align: center;">
  <a href="<%= @app_url %>" class="button">Start Weekly Review</a>
</p>

<p>Here's to a great week ahead!</p>
